<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <form action="" method="POST" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="amount" class="col-sm-2 control-label">Amount:</label>
              <div class="col-sm-10">
                <input type="number" min="0" step="0.01" class="form-control" id="amount" placeholder="Amount" required>
              </div>
            </div>

            <div class="form-group">
              <label for="amount" class="col-sm-2 control-label">Date:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="date" name="Date" bs-datepicker required data-maxDate="today" data-dateType="date">
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>